/* Couleurs */
:root {
  /* Mode 1 */
  /* color */
  --black: rgb(6 6 6);
  --blue-1: rgb(1 11 191);
  --blue-2: rgb(1 11 191);
  --blue-3: rgb(5 140 216);
  --blue-4: rgb(1 220 242);
  --dark-gray-1: rgb(59 59 59);
  --dark-gray-2: rgb(80 79 79);
  --light-gray-1: rgb(249 249 249);
  --light-gray-2: rgb(213 213 213);
  --light-gray-3: rgb(150 150 150);
  --violet: rgb(130 35 238);
}

/* Typographie */
:root {
  /* Mode 1 */
  /* number */
  --text-small-text: 0.75rem;
  --text-body: 1rem;
  --text-heading-3: 1.25rem;
  --text-heading-2: 1.5rem;
  --text-heading-1: 2.125rem;
  --text-title: 2.5rem;
}