.footer {
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: var(--blue-3);
    margin : 0px;
    overflow:hidden;
}

.footer__socials::after {
    content: "";
    display: block;
    width: 20.1875rem;
    height: 2px;
    background: var(--blue-1);
    opacity: 0.8;
    border-radius: 2px;
}

.footer__logo-container::after{
    content: "";
    display: block;
    width: 20.1875rem;
    height: 2px;
    background: var(--blue-1);
    opacity: 0.8;
    border-radius: 2px;
}

.footer__logo-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.footer__logo {
    width :4.75rem;
    padding-top:0.625rem;
    padding-bottom:0.8125rem;
}

.footer__socials {
    display:flex;
    flex-direction:column;
    align-items:center;
}

.footer__social-icon {
    width:2.25rem;
}

.footer__social-container {
    display:flex;
    align-items:center;
    margin-top:1.25rem;
    margin-bottom:1.25rem;
    gap:2.5rem;
}

.footer__contact-title {
    display:flex;
    justify-content:center;
    color: var(--light-gray-1);
    font-family: "Inder", sans-serif;
    font-size: var(--text-body);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.footer__contact-list {
    list-style-type: none;
    padding:0px;
}

.footer__contact-item {
    color: var(--light-gray-1);
    font-family: Poppins;
    font-size: var(--text-small-text);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}