.mobile-header {
    width:100%;
    height:6.25rem;
    display: flex;
    align-items: center;
    background: var(--blue-4);
    gap: 15.3125rem;
}

.mobile-header a{
    color: inherit;
    text-decoration:none;
}

.header__logo-img {
    width:76px;
    margin-left:0.75rem;
}