.header {
    position:sticky;
    top:0;
    z-index:2;
}

.mobile-header {
    width:100%;
    height:6.25rem;
    display: flex;
    align-items: center;
    background: var(--blue-4);
    gap: 15.3125rem;
}

.mobile-header a{
    color: inherit;
    text-decoration:none;
}

.header__logo-img {
    width:76px;
    margin-left:0.75rem;
}

.header__menu-button {
    width:2.5rem;
    background-color: var(--blue-4);
    border:none;
}