.artist__card {
  max-width: 20.875rem;
  margin: 0 auto;
  text-align: center;
  color: var(--black);
  margin-bottom:1.875rem;
}

.artist__card-img {
  width: 15.9375rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--blue-4);
  display: block;
  margin: 0 auto 16px;
}

.artist__card-title {
  font-size: var(--text-heading-3);
  font-family: "Inder", sans-serif;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.artist__card-text {
  max-width: 363px;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  font-size: var(--text-small-text);
  margin: 0rem;
  margin-bottom:1.25rem;
}

.artist__card--tag-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}

.artist__card--tag-date,
.artist__card--tag-hour,
.artist__card--tag-style,
.artist__card--tag-scene {
  padding: 6px 14px;
  border-radius: 25px;
  font-family:"Poppins", sans-serif;
  font-size: var(--text-small-text);
  font-weight: 500;
  color: var(--light-gray-1);
  margin-top:0rem;
  margin-bottom:0rem;
  border: 0.75px solid var(--black);
}

.artist__card--tag-date {
  background: var(--blue-4);
}

.artist__card--tag-hour {
  background: var(--blue-3);
}

.artist__card--tag-style {
  background: var(--blue-2);
}

.artist__card--tag-scene {
  background: var(--violet);
}
