.button-center {
    display: flex;
    justify-content: center;
    padding-bottom:1.0625rem;
    padding-top:1.0625rem;
}

.button {
    display: flex;
    max-width: 323px;
    padding: 1.25rem;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 2px solid var(--black);
    background: var(--blue-3);
}

.button__text {
    color: var(--light-gray-1);
    text-align: center;
    font-family: "Inder", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin:0px;
    text-transform: uppercase;
}