.carousel {
  background-color: var(--light-gray-1);
  padding:0rem;
  padding-bottom: 1.25rem;
  padding-top: 1.25rem;
  overflow: hidden;
}

.carousel__track {
  display: flex;
  gap: 24px;
  padding: 0 24px 0 24px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.carousel-artist {
  display:flex;
  flex-direction:column;
  align-items:center;
  scroll-snap-align: start;
  flex: 0 0 80%;
  max-width: 420px;
  background-color: var(--light-gray-1);
  border-radius: 40px;
  padding: 24px 24px 32px;
  box-sizing: border-box;
}

.carousel-artist__img {
  width: 17.6875rem;
  height: 12.5rem;
  object-fit: cover;
  display: block;
  border: 1px solid var(--blue-3);
  border-radius: 15px;
  z-index:1;
}

.carousel-artist__content {
  background-color: var(--light-gray-1);
  border: 1px solid var(--blue-3);
  border-radius: 15px;
  max-width: 313px;
  width:233px;
  padding: 6px 15px;
  text-align: center;
  margin-top: -1.8125rem;
  z-index:2;
}

.carousel-artist__title {
  color: var(--Black);
  text-align: center;
  width:233px;
  font-family: "Inder",sans-serif;
  font-size: var(--text-heading-3);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 6px;
}

.carousel-artist__text {
  color: var(--Black);
  text-align: center;
  width:233px;
  font-family: "Poppins", sans-serif;
  font-size: var(--text-small-text);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}
