.hero {
  position: relative;
  height: 17.625rem;
  overflow: hidden;
}

.hero__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 17.625rem;
  object-fit: cover;
  z-index: 1;
}

.hero__brand-title {
    color: var(--light-gray-1);
    text-align: center;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--black);
    font-family: Gorditas;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    z-index:2;
    margin-bottom:25%;
}

.hero__title {
    color: var(--light-gray-1);
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--black);
    font-family: Inder;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    z-index:2;
}
