.scene__card {
  max-width: 20.875rem;
  margin: 0 auto;
  text-align: center;
  color: var(--black);
  margin-bottom:1.875rem;
}

.scene__card-img {
  width: 15.9375rem;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid var(--blue-4);
  display: block;
  margin: 0 auto 16px;
}

.scene__card-title {
  font-size: var(--text-heading-3);
  font-family: "Inder", sans-serif;
  font-weight: 400;
  margin-bottom: 1.25rem;
}

.scene__card-text {
  max-width: 363px;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  font-size: var(--text-small-text);
  margin: 0rem;
  margin-bottom:1.25rem;
}