/* Importation dossier Vendors */
@import url('/src/css/vendors/normalize.css');

/* Importation dossier Utils */
@import url('/src/css/utils/variable.css');

/* Importation dossier Base */
@import url('/src/css/base/main.css');
@import url('/src/css/base/media.css');

/* Importation du dossier Layout */
@import url('/src/css/layout/header.css');
@import url('/src/css/layout/footer.css');

/* Importation du dossier Components */
@import url('/src/css/components/menu.css');
@import url('/src/css/components/hero.css');
@import url('/src/css/components/button.css');
@import url('/src/css/components/carousel.css');
@import url('/src/css/components/contactform.css');
@import url('/src/css/components/details.css');